{% extends 'base.html' %}

{% block content %}
    {% if user.avatar %}
        <img src="{{ user.avatar.url }}" alt="Аватарка" style="width: 50px; height: 50px;">
        <h3>{{ user.username }}</h3>
    {% endif %}

    {% if latest_question_list %}
        {% if user.is_superuser %}
            <h3>Здравствуйте {{ user.username|upper}}</h3>
        {% else %}
        <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'detail' question.id %}">{{question.question_text}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% else %}
        <h3>Последние вопросы:</h3>
        <p>Нет вопросов!</p>
    {% endif %}
{% endblock %}